extends layout

block content 
    .menu-items
      img.asian(src='images/Asian.jpg')
      img.american(src='images/American.jpg')
      img.thai(src='images/Thai.jpg')
    .menu-title
      p Asian bag
      p American bag
      p.thai-title Thai bag
    .menu-price
      p 89.99$
      p 129.99$
      p 229.99$
    .add-to-cart
      button Add to cart
      button Add to cart
      button Add to cart
